
<header>
    <table id="header">
        <tbody>
            <tr>
                <form action="/select">
                    <input id="select_header_button" class="header_input" type="submit" value="Select" />
                </form>
                <form action="/update">
                    <input id="update_header_button" class="header_input" type="submit" value="Update" />
                </form>
                <form action="/insert">
                    <input id="insert_header_button" class="header_input" type="submit" value="Insert" />
                </form>
                <form action="/delete">
                    <input id="delete_header_button" class="header_input" type="submit" value="Delete" />
                </form>
            </tr>
        </tbody>
    </table>
</header>