#data_table tbody tr td {
    width: 150px;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
}

#data_table {
    border: solid;
    margin: 10px;
    padding: 10px;

}

.header_input {
    margin: 5px;
    padding: 5px;
}

.insert_data_input_row {
    display: flex;
}

.insert_data_input_row * {
    margin: 10px;
}


.update_data_input_row {
    display: flex;
}

.update_data_input_row * {
    margin: 10px;
}